@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@layer components {
	.custom-scroll::-webkit-scrollbar {
		@apply w-2;
	}
	.custom-scroll::-webkit-scrollbar-thumb {
		@apply bg-dark-black rounded-md;
	}
	.custom-scroll::-webkit-scrollbar-track {
		@apply bg-[rgba(0,0,0,0)];
	}
}
