@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "Roboto", sans-serif;
}

@layer components {
	.overflow-overlay {
		overflow: overlay;
	}
	.custom-scroll::-webkit-scrollbar {
		@apply w-2 h-2;
	}
	.custom-scroll::-webkit-scrollbar-thumb {
		@apply bg-accent-3 rounded-md;
	}
	.custom-scroll::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
}
